<div class="container">
<div class="jumbotron">
	<p style="font-size:18px">
	<em><b>Prudent Insurance Brokerage Inc.</b></em> is a young company established in 2014.  Apart from working with our current direct Insurance Carriers, we also work with other brokerage firms with over 30 years of experiences in the industry to provide our customers with the most competitive prices and best professional services in the industry.  Our firm is actively working to represent more carriers.  

	Our goal is to meet your insurance needs with 100% customer satisfaction.  Contact to compare pricing.  Price is important but our professional services really put us in the forefront.  We are here to serve. 
	</p>
</div>
</div>